**/.DS_Store
**/*.o
**/*.dSYM/**
**/*~
**/*.swp
pset1/mario
pset1/water
pset1/hello
pset1/greedy
pset2/initials
pset2/caesar
pset2/vigenere
pset3/find/generate
pset3/find/find
pset3/fifteen/fifteen
pset4/bmp/copy
pset4/bmp/whodunnit
pset4/bmp/resize
pset4/bmp/test.bmp
pset4/jpg/recover
pset4/jpg/*.jpg
